@font-face {
  font-family: sans-regular;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: sans-bold;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: sans-semibold;
  src: url("../assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: oswald-regular;
  src: url("../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: oswald-bold;
  src: url("../assets/fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: oswald-semibold;
  src: url("../assets/fonts/Oswald-SemiBold.ttf");
}
