* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// header ================================================================================= header

header {
  max-width: 1440px;
  margin: auto;
}

.header_announce {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  padding: 10px 0;
}

.container {
  max-width: 1330px;
  margin: auto;
}

.header_announce_title {
  font-size: 12px;
  font-family: oswald-regular;
  font-weight: 300;
  max-width: 1440px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.header_menu_logo {
  letter-spacing: 4px;
  font-family: sans-bold;
  font-weight: 600;
}

.header_menu_links {
  display: flex;
  gap: 40px;
}

.header_menu_link {
  text-decoration: none;
  color: black;
  font-family: sans-regular;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
}

.header_menu_link > li {
  list-style: none;
}

.header_menu_features {
  display: flex;
  align-items: center;
  gap: 17px;
  cursor: pointer;
}

// about ================================================================================= about

.about {
  padding-top: 55px;
  background-color: #000;
  max-width: 1440px;
  margin: auto;
}

.about_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1330px;
  margin: 0 0 0 auto;
}

.about_info_container {
  display: flex;
  flex-direction: column;
}

.about_title {
  font-size: 28px;
  font-family: sans-semibold;
  margin-bottom: 126px;
  color: white;
}

.about_des {
  font-size: 14px;
  font-family: sans-regular;
  color: white;
  margin-bottom: 80px;
  max-width: 600px;
  line-height: 23.45px;
}

.about_add_info {
  font-size: 14px;
  color: white;
  font-family: sans-regular;
}

// .about_img_container {
// }

.about_img {
  width: 526x;
  height: 526px;
}

// features ================================================================================= features

.features {
  max-width: 1440px;
  background-color: #000;
  padding-top: 80px;
  margin: auto;
}

.features_container {
  max-width: 1330px;
  margin: auto;
  display: flex;
  align-items: center;
}

.features_img {
  width: 680px;
  height: 460px;
}

.features_about {
  margin: auto;
}

.features_about__intro {
  font-family: sans-regular;
  font-size: 16px;
  color: white;
  margin-bottom: 25px;
}

.features_about_des {
  font-family: sans-bold;
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
  max-width: 500px;
}

.features_about_des:last-child {
  margin-bottom: 0;
}

// versatile ================================================================================= versatile

.versatile {
  max-width: 1440px;
  background-color: #000;
  padding: 80px 0; 
  margin: auto;
  margin-bottom: 80px;
}

.versatile_container {
  max-width: 1330px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.versatile_title {
  color: white;
  font-size: 40px;
  font-family: sans-bold;
  max-width: 400px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.versatile_img {
  width: 680px;
  height: 460px;
}

// shop ================================================================================= shop

.shop {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 94px;
}

.shop_container {
  max-width: 1330px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.shop_title {
  font-size: 28px;
  font-family: sans-regular;
  text-transform: uppercase;
  margin-bottom: 42px;
  letter-spacing: 3px;
  font-weight: 400;
}

.shop_product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    max-width: 1330px;
    overflow: auto;
}

.shop_img_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 8px;
}

.shop_img_ship {
  background-color: white;
  padding: 4px 7px;
  font-size: 12px;
  font-family: sans-regular;
  position: absolute;
  left: 8px;
  top: 8px;
}

.shop_img {
  width: 328px;
  height: 410px;
} 

.shop_product_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shop_product_title {
    font-size: 12px;
    font-family: oswald-regular;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

.shop_star_container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
} 

.shop_product_price {
    font-size: 12px;    
    font-family: oswald-regular;
    letter-spacing: 2px;
} 

// footer ================================================================================= footer  

footer{
    max-width: 1440px;
    margin: auto;
    background-color: #F1F1F1;
    padding-top: 80px;
} 

.footer_container {
    max-width: 900px;
    margin: auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
} 

.footer_newsletter {
    display: flex;
    flex-direction: column;
}

.footer_newsletter_name {
    font-size: 12px;
    font-family: sans-regular;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 29px;
} 

.footer_input_container {
    position: relative;
    margin-bottom: 28px;
}

.footer_input {
    border: none;
    outline: none;
    border-bottom: 2px solid #C4C4C4;
    padding-bottom: 16px;
    width: 460px; 
    color: black;
    font-family: sans-regular;
    font-weight: 400;
    font-size: 14px;
}

.footer_input::placeholder {
    color: #C4C4C4;
    font-family: sans-regular;
    font-weight: 400;
    font-size: 14px;
} 

.footer_input_arrow {
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
} 

.footer_media {
    display: flex;
    gap: 20px;
    cursor: pointer
    ;
}




